@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: CanvasText;
  background-color: Canvas;
}

body{
  @apply min-h-screen;
}

@layer components {
  .link {
    @apply flex items-center gap-2 rounded-2xl p-3 transition-colors justify-between;
  }
  .active-link{
    @apply link bg-gradient-to-l to-blue-600 from-cyan-500 text-white;
  }
  .inactive-link{
    @apply link hover:bg-black/20;
  }
}


.scroll::-webkit-scrollbar {
  height: .5em;
}
 
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 5px;
}
 
.scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}